.affiliation-icon {
    width: 8em;
    height: 8em;
    object-fit: contain;
}

@media (max-width: 768px) {
    .edit-affiliations {
        width: 100%;
    }
    .change-response {
        width: 49%;
    }
}