.nav-indicator {
    font-size: 1.25em;;
    color: green;
}

.nav-tab {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: white;
}

.nav-shadow {
    box-shadow: 0 -0.01em 0.5em #888888;
}

.nav-spacing {
    padding-bottom: 5em;
}